<div class="row">
  <div class="col-xs-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Messages: <span class="badge"> {{messages.length || 0 }} </span>
          <button ng-click="refresh()" class="btn btn-link"><span class="badge"><span
            class="glyphicon glyphicon-refresh"> </span></button>
        </h3>
      </div>
      <div class="panel-body">
        <article ng-repeat="message in messages">
          <div class="col-xs-12">
            <p class="label label-default col-xs-2"> {{ message.name }} </p>
            <p class="col-xs-8"> {{ message.content }} </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>